.card-title
{
    font-family: $raleway;
    font-size: $large;
}

card-text {
    font-family: $ralewayR;
    font-size: $medium;
}

.pie {
    font-family: $ralewayR;
    font-size: $small;
}

.caract, .precios {
    font-family: $raleway;
    font-size: $x-large;
}