.registro-boton {
    background-color: $ball-blue;
    color: $white;
}


.obten {
    background-color: $ball-blue;
    align-content: center;
    justify-content: center;
}

.sesion-init
{
    color: $l-gray;
}