
.containerInicio > .card-body {
    width: 100px;
}

.precios {

    color: $white;
}



.containerInicio {
    margin-top: 30px;
}


.pie {
    padding: 20px;
    background-color: $raisin-black;
    display: grid;
    grid-template-columns: repeat(8,1fr);
   
    color: $spanish-gray;
}

.item4 {
    grid-column-start: 8;
    grid-column-end: 9;
}



.caract {
    margin-top: 200px;
    margin-bottom: 40px;
}
