*
{
    margin: 0;
    padding: 0;
}


.Seccion-Precios {
    height: 1000px;
    background-image: url('../images/bg-price.svg');
    top: 100%;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 100px;
}

.Inicio {
    height: 100%;
    background-image: url('../images/bg-hero.svg');
    top: 100%;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerInicio
{
    margin-top: 30px;
    border: transparent;
}

.precios
{
    color: rgb(236, 231, 221);
}

footer
{
    background-color: rgb(42, 40, 40);
}

footer>p
{
    color: white;
    display: inline-block;
    padding: 10px;
}

.caract
{
    margin-top: 100px;
    margin-bottom: 40px;
}

.cuadrosvg
{
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

@keyframes slidein
{
    from
    {
        margin-left: 100%;
        width: 300%;
    }
    to
    {
        margin-left:0%;
        width:100%;
    }
}