*
{
    margin: 0;
    padding: 0;
}


.Seccion-Precios {
    height: 100%;
    background-image: url('../images/bg-price.svg');
    top: 100%;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}

