//variables

$white: #FFF;
$Platinum: #E8E8E8;
$gray: #BABABA;

$salmon: #EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFDA;

$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon: #B1E4EB;

$onyx: #333745;
$spanish-gray: #8F9199;
$l-gray: #C7C8CC;
$raisin-black: #221D23;
$nickel: #726F73;
$silver-Ch: #AEACAF;

//tpography
$open-sans: 'Open Sans', regular;
$raleway: 'Raleway', bold;
$ralewayR: 'Raleway', regular;

// Font Weight
$regular: 400;
$bold: 700;

// Font Sizes
$x-large: 50px;
$large: 45px;
$medium: 16px;
$small: 14px;
$x-small: 10px;


